<app-centered-card cardName="Add new place">
  <div *ngIf="addPlaceError | async" class="error">
    {{ (addPlaceError | async)?.error }}
  </div>

  <form (ngSubmit)="onSubmit()"
        fxLayout="column"
        #f="ngForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text"
             name="title"
             matInput
             ngModel
             #title="ngModel"
             required
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input type="text"
             name="description"
             matInput
             ngModel
             #description="ngModel"
             required
      />
      <mat-error *ngIf="description.touched && description.hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Photo</mat-label>
      <app-file-input name="photo"
                      accept="image/png, image/gif, image/jpeg"
                      ngModel
                      #photo="ngModel"
                      required
      ></app-file-input>
      <mat-error *ngIf="photo.touched && photo.hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="photo.touched && photo.hasError('accept')">
        An avatar with this extension cannot be uploaded
      </mat-error>
      <mat-error *ngIf="photo.touched && photo.hasError('serverError')">
        {{ photo.getError('serverError') }}
      </mat-error>
    </mat-form-field>
    <div class="agree">
      <p>
        By submitting this form, you agree that the following information will be submitted
        to the public domain, and administrators of this site will have full control over
        the said information
      </p>
      <mat-checkbox
        name="agree"
        ngModel
        #agree="ngModel"
        required
      >I understand</mat-checkbox>
      <mat-error *ngIf="agree.touched && agree.hasError('required')">
        Field is required
      </mat-error>
    </div>
    <div fxLayout="column" fxLayoutGap="16px">
      <button type="submit"
              mat-raised-button
              color="primary"
              [disabled]="f.invalid || (addPlaceLoading | async)"
      >
        <app-loader [isLoading]="addPlaceLoading | async" size="sm">
          Submit new place
        </app-loader>
      </button>
    </div>
  </form>
</app-centered-card>
