<app-loader [isLoading]="isLoading | async" size="lg">
  <div fxLayout="column" fxLayoutGap="16px" *ngIf="place | async as $place">
    <mat-card fxLayout="row" fxLayoutAlign="space-between stretch">
      <mat-card-content>
        <mat-card-title>{{ $place.title }}</mat-card-title>
        <p>{{ $place.description }}</p>
      </mat-card-content>
      <div>
        <img mat-card-image
             [src]="$place.photo | image"
             [alt]="$place.title"
             class="place-img"
        />
      </div>
    </mat-card>

    <mat-card>
      <mat-card-title>Gallery</mat-card-title>
      <mat-card-content *ngIf="$place.gallery.length">
        <ngx-gallery [options]="galleryOptionsAdmin"
                     [images]="galleryImages"
                     *appHasRole="['admin']; else isNotAdmin"
        ></ngx-gallery>
        <ng-template #isNotAdmin>
          <ngx-gallery [options]="galleryOptions"
                       [images]="galleryImages"
          ></ngx-gallery>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <ng-container *ngIf="!$place.gallery.length">
      <mat-card fxLayout="row" fxLayoutAlign="center">
        <mat-card-subtitle>
          No information available
        </mat-card-subtitle>
      </mat-card>
    </ng-container>

    <mat-card>
      <mat-card-title>Ratings</mat-card-title>
      <mat-card-content>
        <div class="stars-quality">
          <span>Overall:</span>
          <bar-rating [rate]="$place.overallQuality" [readOnly]="true"></bar-rating>
          <strong>{{ $place.overallQuality }}</strong>
        </div>
        <div class="stars-quality">
          <span>Quality of food:</span>
          <bar-rating [rate]="$place.foodQuality" [readOnly]="true"></bar-rating>
          <strong>{{ $place.foodQuality }}</strong>
        </div>
        <div class="stars-quality">
          <span>Service quality:</span>
          <bar-rating [rate]="$place.serviceQuality" [readOnly]="true"></bar-rating>
          <strong>{{ $place.serviceQuality }}</strong>
        </div>
        <div class="stars-quality">
          <span>Interior:</span>
          <bar-rating [rate]="$place.interiorQuality" [readOnly]="true"></bar-rating>
          <strong>{{ $place.interiorQuality }}</strong>
        </div>
      </mat-card-content>
    </mat-card>

    <app-reviews [place]="$place"
                 fxLayout="column"
                 fxLayoutGap="16px"
    ></app-reviews>

    <ng-container *appIsAuth="true">
      <app-add-review [id]="$place._id" [reviewId]="reviewId"></app-add-review>
      <app-add-photo [id]="$place._id"></app-add-photo>
    </ng-container>
  </div>
</app-loader>
